

@font-face {
    font-family: 'ge_ss_twolight59';
    src: url('/fonts/arbfonts-59ge-ss-two-webfont.woff2') format('woff2'),
         url('/fonts/arbfonts-59ge-ss-two-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}






@font-face {
    font-family: 'ge_ss_twolightss';
    src: url('/fonts/arbfonts-ge_ss_two_light-webfont.woff2') format('woff2'),
         url('/fonts/arbfonts-ge_ss_two_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ge_ss_twolight1';
    src: url('/fonts/arbfonts-ge_ss_two_light-1-webfont.woff2') format('woff2'),
         url('/fonts/arbfonts-ge_ss_two_light-1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ge_ss_twolightgess';
    src: url('/fonts/arbfonts-gess-webfont.woff2') format('woff2'),
         url('/fonts/arbfonts-gess-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ge_ss_twolightsst';
    src: url('/fonts/arbfonts-ge-ss-two-light-webfont.woff2') format('woff2'),
         url('/fonts/arbfonts-ge-ss-two-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ge_ss_twolightsstow';
    src: url('/fonts/arbfonts-ge-ss-two-light_28-webfont.woff2') format('woff2'),
         url('/fonts/arbfonts-ge-ss-two-light_28-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ge_ss_twolightrab';
    src: url('/fonts/arbfonts-rabi3-webfont.woff2') format('woff2'),
         url('/fonts/arbfonts-rabi3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ge_ss_twolightrab3';
    src: url('/fonts/arbfonts-rabi3-webfont.woff2') format('woff2'),
         url('/fonts/arbfonts-rabi3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}